body.debug {
    background: pink!important;
}

body.debug #mask {
    opacity: 0!important;
}

body {
    background: black;
    color: white;
}

#intro {
    height: 664px;
    width: auto;
    max-width: 664px;
    margin: calc((100vh - 704px) /2) auto 0 auto;
    position: relative;
    transition: 0.2s all;
    background-color: #333;
    border: 1px solid #CCC;
    padding: 20px;
    overflow-y: scroll;
}

.intro__container {
    min-height: 40px;
    padding: 10px;
    display: flex;
}
.intro__containerTitle {
    min-height: 40px;
    flex: 1;
    vertical-align: middle;
    font-size: 28px;
    line-height: 40px;
}
.intro__containerTitle--small {
    min-height: 40px;
    flex: 1;
    vertical-align: middle;
    font-size: 22px;
    line-height: 40px;
}
.intro__containerButton {
    width: 100px;
}

#main {
    height: 704px;
    width: 704px;
    margin: calc((100vh - 704px) /2) auto 0 auto;
    position: relative;
    transition: 0.2s all;
    display: none;
    opacity: 0;
}

#main > canvas, #main > div {
    width: 704px;
    height: 704px;
    position: absolute;
}

.to-3d > #game__ceiling, .to-3d > #mask {
    -webkit-transform: perspective( 1000px ) rotateX( 20deg ) translateZ(64px);
    -moz-transform: perspective( 1000px ) rotateX( 20deg ) translateZ(64px);
    -o-transform: perspective( 1000px ) rotateX( 20deg ) translateZ(64px);
    transform: perspective( 1000px ) rotateX( 20deg ) translateZ(64px);
}

.to-3d > #game__walls {
    -webkit-transform: perspective( 1000px ) rotateX( 20deg ) translateZ(64px);
    -moz-transform: perspective( 1000px ) rotateX( 20deg ) translateZ(64px);
    -o-transform: perspective( 1000px ) rotateX( 20deg ) translateZ(64px);
    transform: perspective( 1000px ) rotateX( 20deg ) translateZ(64px);
}

.to-3d > #game__ground{
    -webkit-transform: perspective( 1000px ) rotateX( 20deg );
    -moz-transform: perspective( 1000px ) rotateX( 20deg );
    -o-transform: perspective( 1000px ) rotateX( 20deg );
    transform: perspective( 1000px ) rotateX( 20deg );
}

#game__walls {
    height: 704px;
    width: 704px;
    position: relative;
}

.wall {
    height: 64px;
    width: 64px;
    position: absolute;
    -webkit-transform: perspective( 1000px ) rotateX( 90deg );
    -moz-transform: perspective( 1000px ) rotateX( 90deg );
    -o-transform: perspective( 1000px ) rotateX( 90deg );
    transform: perspective( 1000px ) rotateX( 90deg );

}

#main > #mask {
    opacity: 1;
    position: absolute;
    height: 704px;
    width: 704px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+40,000000+100&0+0,0.21+36,1+83 */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 26%, rgba(0,0,0,0.28) 30%, rgba(0,0,0,1) 70%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 26%,rgba(0,0,0,0.28) 30%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.21) 26%,rgba(0,0,0,0.28) 30%,rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: 0.2s all;
}